* {
    box-sizing: border-box;
}

header {
    background-color: black;
    margin-bottom: 16px;
}

[class*="col-"] {
    text-align: center;
    color: gray;
    float: left;
    margin: 0%;
    font-size: 15px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.row {
    padding-top: 16px;
    padding-left: 16px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: gray;
    margin: 0%;
    text-align: left;
}

.hero {
    background-color: black;
    margin-bottom: 16px;
    padding: 5px;
}

.heroSection {
    padding-top: 16px;
    padding-left: 16px;
}

.heroSection::after {
    content: "";
    clear: both;
    display: table;
}

.mainSection {
    background-color: black;
    margin-bottom: 16px;
    padding: 5px;
}

.bodySection {
    padding-top: 16px;
    padding-left: 16px;
}

.bodySection::after {
    content: "";
    clear: both;
    display: table;
}

.sideBar {
    background-color: black;
    margin-bottom: 16px;
    padding: 5px;
}

.sideSection {
    padding-top: 16px;
    padding-left: 16px;
}

.sideSection::after {
    content: "";
    clear: both;
    display: table;
}

.footerSection {
    background-color: black;
    height: 100px;
    padding: 5px;
}

.bodyContainer::after {
    content: "";
    clear: both;
    display: table;
}


/* for mobile: */

[class*="col-s-12"] {
    width: 100%;
}

[class*="col-s-7"] {
    width: 58.33%;
}

[class*="col-s-5"] {
    width: 41.66%;
}

[class="col-s-no"] {
    display: none;
}

.detail {
    width: 100%;
    height: 100%;
    background-color: green;
    color: gray;
}


/* For tablet: */

@media only screen and (min-width: 600px) {
    .detail {
        width: 100%;
        height: 100%;
        background-color: blue;
        color: gray;
    }
    .col-t-1 {
        width: 8.33%;
    }
    .col-t-2 {
        width: 16.66%;
    }
    .col-t-3 {
        width: 25%;
    }
    .col-t-4 {
        width: 33.33%;
    }
    .col-t-5 {
        width: 41.66%;
    }
    .col-t-6 {
        width: 50%;
    }
    .col-t-7 {
        width: 58.33%;
    }
    .col-t-8 {
        width: 66.66%;
    }
    .col-t-9 {
        width: 75%;
    }
    .col-t-10 {
        width: 83.33%;
    }
    .col-t-11 {
        width: 91.66%;
    }
    .col-t-12 {
        width: 100%;
    }
}


/* For desktop: */

@media only screen and (min-width: 768px) {
    .detail {
        width: 100%;
        height: 100%;
        background-color: yellow;
        color: gray;
    }
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}