* {
    box-sizing: border-box;
}

.hFSection {
    background-color: #000000;
    margin-bottom: 16px;
}


/* all the elements with which their class name include col- have the same property as bellow: */

[class*="col-"] {
    text-align: center;
    color: #cccccc;
    float: left;
    margin: 0%;
    font-size: 15px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.row {
    padding-top: 16px;
    padding-left: 16px;
}

.subSection::after {
    content: "";
    clear: both;
    display: table;
}


/* same format for all elements with title class name */

.title {
    color: #cccccc;
    margin: 0%;
    margin-bottom: 16px;
    text-align: left;
}

.hero {
    background-color: #000000;
}

.advSection {
    float: left;
    width: 100%;
    text-align: center;
    padding-bottom: 16px;
}

.footerSection {
    height: 100px;
}


/* for mobile: */


/* since whole the window is divided to 12 sections and each section has 8.33% width so  */


/* 12 means this element fill whole the container */

[class*="col-s-12"] {
    width: 100%;
}

[class*="col-s-7"] {
    width: 58.33%;
}

[class*="col-s-5"] {
    width: 41.66%;
}


/* class name col-s-no refers to element that is not shown in mobile */

[class="col-s-no"] {
    display: none;
}

.heroSection {
    width: 100%;
    float: left;
    padding-bottom: 16px;
}

.detail {
    width: 100%;
    height: 100%;
    background-color: #094700;
    color: #000000;
}

.sideSection,
[class*="col-s-no"] {
    display: none;
}


/* For tablet: */

@media only screen and (min-width: 600px) and (max-width:768px) {
    .detail {
        width: 100%;
        height: 100%;
        background-color: #0000FF;
        color: #000000;
    }
    .col-t-1 {
        width: 8.33%;
    }
    .col-t-2 {
        width: 16.66%;
    }
    .col-t-3 {
        width: 25%;
    }
    .col-t-4 {
        width: 33.33%;
    }
    .col-t-5 {
        width: 41.66%;
    }
    .col-t-6 {
        width: 50%;
    }
    .col-t-7 {
        width: 58.33%;
    }
    .col-t-8 {
        width: 66.66%;
    }
    .col-t-9 {
        width: 75%;
    }
    .col-t-10 {
        width: 83.33%;
    }
    .col-t-11 {
        width: 91.66%;
    }
    .col-t-12 {
        width: 100%;
    }
    .heroSection {
        width: 75%;
    }
    .bodySection {
        width: 100%;
    }
    .advSection {
        width: 25%;
        padding-left: 16px;
        height: 155px;
    }
    .sideSection {
        width: 100%;
        padding-bottom: 16px;
        display: inline-block;
    }
    /* elements which are hidden in mobile must be shown in tablet or desktop */
    [class*="col-s-no"] {
        display: inline-block;
    }
}


/* For desktop: */

@media only screen and (min-width: 768px) {
    .detail {
        width: 100%;
        height: 100%;
        background-color: #f0df00;
        color: #000000;
    }
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    .heroSection {
        width: 75%;
    }
    .advSection {
        width: 25%;
        padding-left: 16px;
        height: 120px;
    }
    .sideSection {
        width: 25%;
        padding-left: 16px;
        display: inline-block;
    }
    [class*="col-s-no"] {
        display: inline-block;
    }
}