* {
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: slategrey;
    height: 150px;
}

nav {
    width: 100%;
    height: 100%;
}

nav ul {
    display: inline-table;
    list-style-type: none;
    clear: both;
    content: "";
    background-color: #cdcdcb;
    padding: 0px;
    width: 400px;
    height: 50px;
    clear: both;
    /* both text-align:  and margin 0 auto are used to create center menu; */
    /* text-align: center; */
    /* margin: 0 auto; */
    text-align: center;
    margin-left: 35%;
    margin-top: 100px;
    border-bottom: 5px solid slategrey;
}

nav li {
    float: left;
    padding: 10px 70px 10px 10px;
}

nav li:hover {
    color: red;
    border: 1px solid #cdcdcb;
}

.tatalContainer {
    background-color: #cdcdcb;
    /* margin-bottom: 16px; */
    height: 800px;
}

.topBox {
    padding-top: 16px;
    width: 100%;
    height: 500px;
    clear: both;
}

.rightBoxContainer {
    width: 50%;
    height: 100%;
    float: right;
    margin: 0%;
    padding-right: 24px;
}

.leftBoxContainer {
    width: 50%;
    height: 100%;
    float: left;
    margin: 0%;
    padding-left: 24px;
    padding-right: 24px;
}

.rightBox {
    width: 100%;
    height: 100%;
    background-color: #ccddff;
    border-radius: 3px;
}

.leftBox {
    width: 100%;
    height: 100%;
    background-color: #ccddff;
    border-radius: 3px;
}

img {
    float: right;
    margin: auto;
}

.imgContainer {
    clear: both;
    padding: 16px;
    width: 100%;
    height: 30%;
}

div.imgContainer p {
    text-align: right;
}

.bottomDivision {
    width: 100%;
    height: 150px;
    background-size: 100% 100%;
    background-image: url('../image_exercise/download2.jpeg');
}

.rightImg {
    width: 250px;
    height: 250px;
    float: right;
    margin: 16px;
}

.centerImg {
    width: 400px;
    height: 250px;
}

.leftImg {
    width: 100px;
    height: 100px;
}

.bottomBox {
    width: 100%;
    margin-top: 16px;
    clear: both;
    height: 250px;
}

div.gallery1 {
    width: 25%;
    height: 100%;
    float: left;
    margin: 0%;
    padding-left: 24px;
    padding-right: 24px;
}

div.gallery2 {
    width: 40%;
    height: 100%;
    float: left;
    margin: 0%;
    padding-right: 24px;
}

div.gallery3 {
    width: 35%;
    height: 100%;
    float: left;
    margin: 0%;
    padding-right: 24px;
}

div.gallery1 img {
    width: 100%;
    height: 100%;
    float: left;
}

div.gallery2 img {
    width: 100%;
    height: 100%;
    float: left;
}

div.gallery3 img {
    width: 100%;
    height: 100%;
    float: left;
}