/* this page is designed base on https://www.w3schools.com/w3css/tryw3css_templates_website.htm#myPage */


/* selected font for this page is vasir  */


/* for more information go to this lik 'https://rastikerdar.github.io/vazir-font/' */

@font-face {
    font-family: 'Vazir';
    src: url('../font/vasir/Vazir.woff2') format('woff2'), url('../font/vasir/Vazir.woff') format('woff'), url('../font/vasir/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VazirBold';
    src: url('../font/vasir/Vazir-Bold.woff2') format('woff2'), url('../font/vasir/Vazir-Bold.woff') format('woff'), url('../font/vasir/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Vazir';
    font-size: 15px;
    direction: rtl;
    margin: 0 auto;
    max-width: 1400px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.custom-font {
    font-size: 24px;
    font-family: 'VazirBold';
}

.blog-main-bColor {
    background-color: #ffffe6;
}

.blog-main-clear::after {
    clear: both;
    display: table;
    content: "";
}

.modal-content,
#btn-modal,
.blog-footer,
.blog-fColor-white,
a {
    color: #ffffff
}

#list li:hover,
.menu-left-side a:hover,
#arrow-up:hover,
.sidebar-container a,
.modal-main,
.footer-list a:hover,
#btn-submit:hover,
.price-items a:hover,
.stick-button:hover,
.items-fColor:hover {
    color: #000000;
}

.menu-left-side a:hover,
.items-bColor:hover {
    background-color: #ffffff;
}

.footer-list a,
.price-items a,
.blog-bColor-blue,
.list-search:hover,
#btn-modal:hover {
    background-color: #009688;
}

#list li:hover,
#arrow-up:hover,
.sidebar-list li:hover,
.close:hover,
.footer-list a:hover,
#btn-submit:hover,
.price-items a:hover,
.blog-bColor-gray,
.menu-list-hColor:hover,
.dropdown-content a:hover,
.dropdown-box:hover,
.stick-button:hover {
    background-color: #a6a6a6;
}

.blog-bColor-black {
    background-color: #000000;
}

.blog-menu-container {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.blog-main-menu {
    direction: rtl;
    padding: 0;
    margin: 0;
}

.blog-menu-container-responsive {
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.blog-menu-container {
    display: none;
}

.menu-right-side {
    width: 93%;
    float: right;
}

.menu-left-side {
    width: 7%;
    float: left;
    text-align: center;
}

.menu-right-list {
    display: none;
    width: 100%;
    right: 0;
    left: 0;
    background-color: #000000;
}

.menu-right-list li {
    width: 100%
}

.blog-menu-container-responsive a {
    padding: 8px 16px;
    display: inline-block;
}


/* .menu-custom-dispaly {
    display: none;
}
 */


/* .menu-list {
    float: right;
} */

.blog-main-menu a {
    padding: 8px 16px;
    display: inline-block;
}

.list-search {
    float: left;
}

.menu-icon {
    margin-left: 16px;
}


/* properties of dropdown */

.dropdown-box {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    right: 0%;
    top: 100%;
    display: none;
    position: absolute;
    background-color: #ffffe6;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    display: block;
}

.dropdown-box:hover .dropdown-content {
    display: block;
}


/* end of properties of dropdown */


/* properties of top-image  */

.blog-logo-container {
    /* how to divide whole window? and why it does not accept percentages value? 
             for example I want to divide whole window to 4 sections*/
    position: relative;
    max-height: 600px;
}

.blog-logo-container img {
    min-height: 350px;
    max-height: 600px;
    width: 100%;
}

.text-stick {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 16px;
    margin-bottom: 20px
}

#btn-modal {
    border: none;
    padding: 8px 16px;
    font-family: 'Vazir';
    font-size: 18px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* The Close Button */

.close {
    font-size: 28px;
    font-family: 'VazirBold';
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 20px;
    display: inline-block;
}


/* Modal Content */

.modal-content {
    margin: auto;
    width: 80%;
}

.modal-header {
    position: relative;
}

.modal-content h4,
.modal-content h3,
.modal-content h5,
.modal-content h6 {
    margin: 0;
    text-align: right;
    padding: 15px 0;
}

.modal-padding {
    padding: 0 20px;
}


/* end of properties of top-image  */


/* team section  */

.blog-team-section {
    padding: 64px 16px;
}

p {
    text-align: center;
}

.employee {
    width: 100%;
    text-align: center;
}

.employee img {
    border-radius: 50%;
    width: 45%;
}

.employee img:hover {
    opacity: 0.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    margin: 10px 0;
}


/* end of team section  */


/* work section */

.blog-work-section {
    background-color: #333333;
    padding: 64px 8px
}

.work-img-description {
    width: 100%;
    padding: 0px 8px;
}

.custom-align {
    text-align: right;
}

.custom-justify {
    text-justify: inter-word;
}

.work-img {
    width: 100%;
    height: 35%;
}

.work-description {
    padding: 0 15px;
}

img {
    vertical-align: middle;
}

.work-list {
    padding: 0;
    margin: 0;
}

.work-list li {
    padding: 5px 0
}


/* sticky button section */

.button-container {
    position: relative;
}

.stick-button {
    padding: 8px 16px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    left: 24px;
    top: -28px;
    font-size: 24px;
}

.sidebar-container {
    display: none;
    height: 100%;
    max-width: 40%;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0
}

.sidebar-list li {
    width: 100%;
    padding: 8px 16px;
    font-size: 20px;
    text-align: right;
}

#list-first-item {
    color: #009688;
    font-size: 28px;
}

.sidebar-list li:first-child {
    margin-bottom: 40px;
}


/* end of sticky button section */

.blog-price-section {
    padding: 64px 8px;
}

.blog-price-description {
    margin-top: 32px;
}

.price-detailes {
    width: 100%;
    padding: 0 8px;
    margin-bottom: 16px;
}

.price-list {
    text-align: center;
    border: 1px solid #cccccc;
}

.item-custom {
    padding: 8px 16px;
    font-size: 24px;
}

.price-items {
    padding: 16px;
    border-bottom: 1px solid #cccccc;
}

.price-items :last-child {
    border-bottom: none
}

.price-list span {
    font-family: 'VazirBold';
}

.custom-font {
    font-size: 20px;
}

.custom-fColor {
    color: #bfbfbf;
}

.blog-bColor-lGray {
    background-color: #e6e6e6;
}

.price-items a {
    padding: 8px 16px;
    display: inline-block;
}

.custom-padding {
    padding: 24px 0;
}

.price-list:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}


/* contact section */

.blog-contact-section {
    padding: 64px 16px;
    font-size: 18px;
}

.contact-info {
    /* float: right;
    width: 40%; */
    width: 100%;
}

.contact-us {
    /* float: left;
    width: 60%; */
    width: 100%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-header {
    margin-top: 0;
    width: 17%;
    border-bottom: 3px solid #009688;
}

.contact-info i {
    color: #009688;
}

.contact-us-form {
    padding: 15px 20px;
}

.contact-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #cccccc;
    height: 40px;
    padding-bottom: 10px;
    display: inline-block;
}

.contact-label {
    width: 100%;
    padding-top: 10px;
    display: inline-block;
}

.conatct-like {
    margin: 20px 0;
    float: right;
    width: 50%;
}

.contact-send {
    float: left;
    margin: 20px 0;
    width: 50%;
    text-align: left;
}

#btn-submit {
    padding: 5px 15px;
    border: none;
    color: white;
    font-size: 20px;
    font-family: 'Vazir';
}

.blog-bottom-image {
    max-height: 400px;
}

.blog-bottom-image img {
    min-height: 250px;
    max-height: 400px;
    width: 100%;
}

.footer-navigation {
    text-align: center;
    position: relative;
}

.blog-footer {
    padding: 32px 16px;
}

.footer-list li {
    display: inline;
}

.footer-list a {
    padding: 8px 16px;
    display: inline-block;
    font-size: 18px;
}

.link-footer {
    text-decoration-line: underline;
}

.arrow-up-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    padding: 0;
}

#arrow-up {
    float: left;
    width: 30%;
    padding: 8px;
    font-size: 18px;
}

#arrow-go-to {
    float: right;
    width: 70%;
    display: none;
    margin: 8px 0px;
}


/* for desktop  */

@media only screen and (min-width: 600px) {
    .employee {
        float: left;
        width: 25%;
    }
    .work-img-description {
        float: right;
        width: 25%;
    }
    .price-detailes {
        float: left;
        width: 33.33%;
    }
    .contact-info {
        float: right;
        width: 40%;
    }
    .contact-us {
        float: left;
        width: 60%;
    }
    .blog-menu-container {
        display: block;
    }
    .menu-list {
        float: right;
    }
    .blog-menu-container-responsive {
        display: none;
    }
}