* {
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: slategrey;
    height: 150px;
    padding-top: 90px;
}

.listBox {
    list-style-type: none;
    clear: both;
    content: "";
    display: table;
    background-color: #cdcdcb;
    width: auto;
    height: 50px;
    margin: 0 auto;
    padding: 0;
}

.listLinks {
    text-decoration: none;
}

.listItem {
    float: left;
    padding: 20px;
}

.listItem:hover {
    background-color: lightsteelblue;
    border: 1px solid #cdcdcb;
}


/*  it is useed to set background color for main section */

.tatalContainer {
    background-color: #cdcdcb;
}


/* the main section is divided to 2 boxes including topBox and bottomBox */


/* topBox consists of rightBox and leftBox */

.topBox {
    padding-top: 16px;
    width: 100%;
    height: 500px;
    clear: both;
}

.rightBoxContainer {
    width: 50%;
    height: 100%;
    float: right;
    margin: 0%;
    padding-right: 24px;
}

.rightBox {
    width: 100%;
    height: 100%;
    background-color: #ccddff;
    border-radius: 3px;
}

.leftBoxContainer {
    width: 50%;
    height: 100%;
    float: left;
    margin: 0%;
    padding-left: 24px;
    padding-right: 24px;
}


/* leftBox is used to show 3 images and descriptions */

.leftBox {
    width: 100%;
    height: 100%;
    background-color: #ccddff;
    border-radius: 3px;
}

.imgContainer {
    clear: both;
    padding: 16px;
    width: 100%;
    height: 30%;
}

img {
    float: right;
    margin: auto;
}

.imgContainer p {
    float: left;
}

.bottomBox {
    width: 100%;
    padding: 16px 0px;
    clear: both;
    height: 250px;
}


/* gallery 1 to 3 refer to 3 images in the bottom box of main section */

.gallery1,
.gallery2,
.gallery3 {
    height: 100%;
    padding-right: 24px;
    float: left;
    margin: 0%;
}

.gallery1 {
    width: 25%;
    padding-left: 24px;
}

.gallery2 {
    width: 40%;
}

.gallery3 {
    width: 35%;
}

.imgButtomBox {
    width: 100%;
    height: 100%;
}

.bottomDivision {
    width: 100%;
    height: 150px;
    background-size: 100% 100%;
    background-image: url('../images/download2.jpeg');
}