* {
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: slategrey;
    height: 150px;
    padding-top: 90px;
}

.listBox {
    list-style-type: none;
    clear: both;
    content: "";
    display: table;
    background-color: #cdcdcb;
    width: auto;
    height: 50px;
    margin: 0 auto;
    padding: 0;
}

.listLinks {
    text-decoration: none;
}

.listItem {
    float: left;
    padding: 20px;
}

.listItem:hover {
    background-color: lightsteelblue;
    border: 1px solid #cdcdcb;
}

.tatalContainer {
    background-color: #cdcdcb;
}

.topBox {
    padding-top: 16px;
    width: 100%;
    height: 500px;
    clear: both;
}

.rightBoxContainer {
    width: 50%;
    height: 100%;
    float: right;
    margin: 0%;
    padding-right: 24px;
}

.leftBoxContainer {
    width: 50%;
    height: 100%;
    float: left;
    margin: 0%;
    padding-left: 24px;
    padding-right: 24px;
}

.rightBox {
    width: 100%;
    height: 100%;
    background-color: #ccddff;
    border-radius: 3px;
}

.leftBox {
    width: 100%;
    height: 100%;
    background-color: #ccddff;
    border-radius: 3px;
}

img {
    float: right;
    margin: auto;
}

.imgContainer {
    clear: both;
    padding: 16px;
    width: 100%;
    height: 30%;
}

.imgContainer p {
    float: left;
}

.rightImg {
    width: 250px;
    height: 250px;
    float: right;
    margin: 16px;
}

.centerImg {
    width: 400px;
    height: 250px;
}

.leftImg {
    width: 100px;
    height: 100px;
}

.bottomBox {
    width: 100%;
    padding: 16px 0px;
    clear: both;
    height: 250px;
}

.gallery1,
.gallery2,
.gallery3 {
    height: 100%;
    padding-right: 24px;
    float: left;
    margin: 0%;
}

.gallery1 {
    width: 25%;
    padding-left: 24px;
}

.gallery2 {
    width: 40%;
}

.gallery3 {
    width: 35%;
}

.imgButtomBox {
    width: 100%;
    height: 100%;
}

.bottomDivision {
    width: 100%;
    height: 150px;
    background-size: 100% 100%;
    background-image: url('../images/download2.jpeg');
}