* {
    box-sizing: border-box;
}

.headContainer {
    background-color: #04134a;
    color: white;
    padding: 15px;
}

.bodyContainer {
    background-color: #04134a;
    color: white;
    padding: 15px;
}

.footContainer {
    background-color: #04134a;
    color: white;
    padding: 15px;
}

[class*="sec-"] {
    margin-bottom: 16px;
}


/*
[class*="col-"] {
    float: left;
    padding: 16px;
} */

.col-s-no {
    display: none
}

.sideBar {
    display: none
}


/* For mobile phones: */


/* @media only screen and (width: 300px) {
    .col-s-1 {
        width: 8.33%;
        background-color: green;
    }
    .col-s-2 {
        width: 16.66%;
        background-color: green;
    }
    .col-s-3 {
        width: 25%;
        background-color: green;
    }
    .col-s-4 {
        width: 33.33%;
        background-color: green;
    }
    .col-s-5 {
        width: 41.66%;
        background-color: green;
    }
    .col-s-6 {
        width: 50%;
        background-color: green;
    }
    .col-s-7 {
        width: 58.33%;
        background-color: green;
    }
    .col-s-8 {
        width: 66.66%;
        background-color: green;
    }
    .col-s-9 {
        width: 75%;
        background-color: green;
    }
    .col-s-10 {
        width: 83.33%;
        background-color: green;
    }
    .col-s-11 {
        width: 91.66%;
        background-color: green;
    }
    .col-s-12 {
        width: 100%;
        background-color: green;
    }
  
} */


/* [class*="col-s-12"] {
    width: 100%;
} */

[class*="col-"] {
    background-color: #939e97;
    color: white;
    padding: 15px;
    margin: 16px;
}


/* for tablet */


/* @media only screen and (min-width: 600px) {
    .col-t-1 {
        width: 8.33%;
        background-color: yellow;
    }
    .col-t-2 {
        width: 16.66%;
        background-color: yellow;
    }
    .col-t-3 {
        width: 25%;
        background-color: yellow;
    }
    .col-t-4 {
        width: 33.33%;
        background-color: yellow;
    }
    .col-t-5 {
        width: 41.66%;
        background-color: yellow;
    }
    .col-t-6 {
        width: 50%;
        background-color: yellow;
    }
    .col-t-7 {
        width: 58.33%;
        background-color: yellow;
    }
    .col-t-8 {
        width: 66.66%;
        background-color: yellow;
    }
    .col-t-9 {
        width: 75%;
        background-color: yellow;
    }
    .col-t-10 {
        width: 83.33%;
        background-color: yellow;
    }
    .col-t-11 {
        width: 91.66%;
        background-color: yellow;
    }
    .col-t-12 {
        width: 100%;
        background-color: yellow;
    }
} */


/* for desctop */

@media only screen and (min-width: 768px) {
    .col-c-1 {
        width: 8.33%;
        background-color: blue;
    }
    .col-c-2 {
        width: 16.66%;
        background-color: blue;
    }
    .col-c-3 {
        width: 25%;
        background-color: blue;
    }
    .col-c-4 {
        width: 33.33%;
        background-color: blue;
    }
    .col-c-5 {
        width: 41.66%;
        background-color: blue;
    }
    .col-c-6 {
        width: 50%;
        background-color: blue;
    }
    .col-c-7 {
        width: 58.33%;
        background-color: blue;
    }
    .col-c-8 {
        width: 66.66%;
        background-color: blue;
    }
    .col-s-9 {
        width: 75%;
        background-color: blue;
    }
    .col-c-10 {
        width: 83.33%;
        background-color: blue;
    }
    .col-c-11 {
        width: 91.66%;
        background-color: blue;
    }
    .col-c-12 {
        width: 100%;
        background-color: blue;
    }
}