* {
    box-sizing: border-box;
}

header {
    background-color: black;
    margin-bottom: 16px;
    height: 150px;
}

main {
    background-color: black;
    margin-bottom: 16px;
    height: 150px;
}

footer {
    background-color: black;
    height: 150px;
}